
.container {
  margin: 2rem auto;
  min-width: 120vh;
  background: linear-gradient(135deg, #9b1212 0%, #e04c4c 100%);
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.5);
  position: relative;
  display:grid;
  z-index: 1;
}

.banner {
  background: linear-gradient(45deg, #ff7070 0%, #ff0000 100%);
  padding: 2rem;
  position: relative;
  overflow: hidden;
}

.banner::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 40px;
  animation: wave 10s linear infinite;
}

.banner h1 {
  color: #fff;
  font-size: 3.5rem;
  text-align: center;
  text-shadow: 0 2px 15px rgba(0, 0, 0, 0.2);
  margin: 0;
  letter-spacing: 4px;
}

h2 {
  color: #dadada;
  text-align: center;
  font-size: 2rem;
  margin: 2rem 0;
  font-weight: 500;
}

.cardsBackground {
  padding: 2rem;
  perspective: 1000px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
  max-width: 100%;
  margin: 0 auto;
}


.card,
.card1,.card2 {
  background: rgba(255, 255, 255, 0);
  border-radius: 15px;
  padding: 2rem;
  text-align: center;
  transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  position: relative;
  overflow: hidden;
  z-index: 1;
  
}

.card:hover,
.card1:hover,.card2:hover {
  transform: translateY(-10px) rotateX(10deg);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2);
  border-color: #fff;
}

.icon {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  display: inline-block;
  transition: transform 0.3s ease;
}

.card:hover .icon,
.card1:hover .icon,.card2:hover .icon {
  transform: scale(1.2) rotate(10deg);
}

.card p,
.card1 p,.card2 p {
  color: #fff;
  font-size: 1.2rem;
  margin: 0.5rem 0 0;
  font-weight: 500;
}

.active {
  background: linear-gradient(
    135deg,
    rgba(100, 255, 218, 0.1),
    rgba(100, 255, 218, 0.05)
  );
  border-color: white;
  box-shadow: 0 0 20px rgba(100, 255, 218, 0.2);
}

@keyframes wave {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0);
  }
}

@media (max-width: 768px) {
  .banner h1 {
    font-size: 2.5rem;
  }

  .grid {
    gap: 1rem;
    padding: 1rem;
  }

  .card,
  .card1, .card2 {
    padding: 1.5rem;
  }
}

.card::after,
.card1::after, .card2::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    225deg,
    transparent 0%,
    rgba(100, 255, 218, 0.1) 100%
  );
  opacity: 0;
  transition: opacity 0.3s ease;
  pointer-events: none;
  border-radius: 15px;
}

.card:hover::after,
.card1:hover::after, .card2:hover::after {
  opacity: 1;
}

a {
  text-decoration: none;
}
