body {  
    margin: 0;  
    font-family: Arial, sans-serif;  
    background-color: #f0f0f0;  
  }  
  
  .app {  
    text-align: center;  
  }  
  
  .header {  
    background-color: #ffffff;  
    padding: 20px;  
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);  
  }  
  
  .logo {  
    width: 500px;  
    margin: 0 auto;
  }  
  
  .container {  
    display: flex;  
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 150px;
    margin-top: 50px;  
  }  
  
  .card {  
    background-color: #3b5998;  
    color: white;  
    border-radius: 10px;  
    padding: 45px;  
    margin: 10px;  
    width: 300px;  
    height: 300px;
    align-items: center;
    transition: transform 0.2s;  
  }  
  
  .card:hover {  
    transform: scale(1.05); 

  }  
  
  .icon {  
    font-size: 40px;  
    margin-bottom: 10px; 
    padding: 20%;
  }